<nav class='menu'>
  <input class='menu-toggler' id='menu-toggler' type='checkbox'>
  <label for='menu-toggler'></label>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li class='menu-item'>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
    <% end %>
    <li class='menu-item'><%= link_to "Add cocktail", new_cocktail_path %></li>
  </ul>
</nav>
